<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Certificate</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="group">
        <header>
            <h1>India fights Covid</h1>
        </header>
        <nav>
            <a href="/homepage">Home</a>
            <a href="/slot_check">Slot Availability</a>
            <a href="/down_cert">Download Certificate</a>
            <a href="/about">About Developer</a>
        </nav>
    </div>

    <section>
        <br>
        <img src="static/images/self.jpg" alt="self_image" height="200px" width="auto">
        <h4><u>
            <i>Tarun Teotia</i><br>
            UE208112<br>
            I.T 3<sup>rd</sup> year<br>
            UIET, Panjab University, Chandigarh
        </u></h4>
    </section>

</body>
</html>
